*__pycache__*
*.pyc
*.egg-info
*.DS_Store*
*.ipynb_checkpoints
*.coverage
*.DEM
*.gtopo30
*.grb*
*_runDirectory*
*sandbox*
*ESP/*
docs/_build/
.pytest_cache/
dist/
build/
coverage.xml
josspdf/paper.pdf
